molecule-Files/*
bohr_dev/*
!molecule-Files/meep-template.in
!molecule-Files/molecule-template.in
!molecule-Files/molecule-template.mos
!bohr_dev/bohr.py
!bohr_dev/gif.py
!bohr_dev/plasmol.py
!bohr_dev/simulation.py
!bohr_dev/driver.py
!bohr_dev/sources.py
!bohr_dev/basis/
.DS_Store
chirpedPulseTest.py